.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* proporção de aspecto do vídeo 16:9 (divida 9 pelo número 16 e multiplique por 100) */
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
